In [1]:
import pandas as pd

### There are two main data types in pandas
   #### &nbsp;&nbsp;Series
        - One Dimensional
   #### &nbsp;&nbsp;DataFrame
        - Two Dimensional

In [2]:
#Series example
alphabet = pd.Series(["a", "b", "c"])

In [3]:
series

NameError: name 'series' is not defined

In [ ]:
#Series example
colors = pd.Series(["red", "green", "blue"])

In [ ]:
#DataFrame example

#This DataFrame is created using two series
data = pd.DataFrame({"Alpha": alphabet, "Color": colors})

In [ ]:
data

In [4]:
#Import data
imported_data = pd.read_csv("db.csv")
imported_data

,Index,Customer Id,First Name,Country,Phone 1
0,1,DD37Cf93aecA6Dc,Sheryl,Chile,229.077.5154
1,2,1Ef7b82A4CAAD10,Preston,Djibouti,5153435776
2,3,6F94879bDAfE5a6,Roy,Antigua and Barbuda,-1199
3,4,5Cef8BFA16c5e3c,Linda,Dominican Republic,001-808-617-6467x12895
4,5,053d585Ab6b3159,Joanna,Slovakia (Slovak Republic),001-234-203-0635x76146
5,6,2d08FB17EE273F4,Aimee,Bosnia and Herzegovina,(283)437-3886x88321
6,7,EA4d384DfDbBf77,Darren,Pitcairn Islands,(496)452-6181x3291
7,8,0e04AFde9f225dE,Brett,Bulgaria,001-583-352-7197x297
8,9,C2dE4dEEc489ae0,Sheryl,Cyprus,854-138-4911x5772
9,10,8C2811a503C7c5a,Michelle,Timor-Leste,739.218.2516x459

## Describe Data


Note: Attributes are like functions but instead of executing some instructions, these store some meta information about a datatype. Unlike functions, they are not followed by brackets '()'.

In [5]:
#Attributes 
imported_data.dtypes
imported_data.columns

data_columns = imported_data.columns
imported_data.index


#Fuction
#imported_data.to_csv("")

RangeIndex(start=0, stop=10, step=1)

In [6]:
imported_data.describe()

          Index
count  10.00000
mean    5.50000
std     3.02765
min     1.00000
25%     3.25000
50%     5.50000
75%     7.75000
max    10.00000

In [7]:
len(imported_data)

10

## Viewing and selecting data

In [10]:
imported_data.head(3)

   Index      Customer Id First Name              Country       Phone 1
0      1  DD37Cf93aecA6Dc     Sheryl                Chile  229.077.5154
1      2  1Ef7b82A4CAAD10    Preston             Djibouti    5153435776
2      3  6F94879bDAfE5a6        Roy  Antigua and Barbuda         -1199

In [11]:
imported_data.tail(3)

   Index      Customer Id First Name      Country               Phone 1
7      8  0e04AFde9f225dE      Brett     Bulgaria  001-583-352-7197x297
8      9  C2dE4dEEc489ae0     Sheryl       Cyprus     854-138-4911x5772
9     10  8C2811a503C7c5a   Michelle  Timor-Leste      739.218.2516x459

In [19]:
# .loc & .iloc
animals = pd.Series(["cat", "dog", "bird", "panda", "snake"], index=[0, 3, 9, 8, 3])

In [20]:
animals

0      cat
3      dog
9     bird
8    panda
3    snake
dtype: object

In [22]:
# .loc --> Index in the series
animals.loc[3]

3      dog
3    snake
dtype: object

In [23]:
animals.loc[9]

'bird'

In [24]:
imported_data.loc[3]

Index                               4
Customer Id           5Cef8BFA16c5e3c
First Name                      Linda
Country            Dominican Republic
Phone 1        001-808-617-6467x12895
Name: 3, dtype: object

In [25]:
# .iloc --> Position in the series
animals.iloc[3]

'panda'